@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html{
    scroll-behavior: smooth!important;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none!important;
    text-transform: capitalize!important; 
    outline: none!important;        
    /* font-family: 'Alata', sans-serif;   */
}
body{
    background-color: #ffffff;
    position: relative;
    
}

body::-webkit-scrollbar {
    width: 8px;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(240, 133, 45, 0.3);
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: #1E3062!important;
    outline: 1px solid slategrey;
  }
  .text-title{
      font-weight: 700;
      text-align: center;
    }
    .text-title h1{
    color: #1E3062!important;  
    font-size:40px;
 }
.text-title s{
    color: #1E3062!important;  

    font-size: 13px;
    font-weight: 400;
 }


p{
    font-family: 'Roboto', sans-serif;
}
  
  /* /////////////////////////buttons////////////////////////////// */
  .welcomediv-btn,
  .about-btn
 {
    background-color: #1E3062;
    color: #fff;
    background-image: linear-gradient(to left, hsl(224, 53%, 25%) 0%, #4b6bc2 51%, #020d2c 100%);
    background-size: 200% auto;
    transition:0.8s;      
    border-radius: 0px!important;
  }

  .welcomediv-btn:hover,
  .about-btn:hover
{
    /* background-image: linear-gradient(-95deg, #f12711 10%, #FF7501 50%, #FFC300 100%); */
    background-position: right center;
    color: #fff;
}

.download-btn{
   background-color: #fff;
   color: #1E3062;
   text-transform: uppercase!important;
   font-weight: 700;
   letter-spacing: 1px;
   border-radius: 0px;
   
}

/* ///////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////// */
.header{       
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url(../images/ph/banner.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.3s ease;
}   

.navbar{
    background-color: transparent;
    padding: 20px 5px;
    z-index: 11;
    position: relative;
    /* background-image: linear-gradient(); */
}
nav .navbar-brand img{
  width: 100px;
  height: 100px;
}
.nav-link{
    text-transform: uppercase!important;
    font-size: 16px;
    margin: 5px;
    color: #fff!important;
    font-weight: 600;
    transition: all 0.6s ease;
    box-sizing: border-box;
}
.nav-link .active{
    border-bottom: 1px solid #1E3062;
}
.nav-link::after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: #1E3062;
    transition: width 0.3s;
}

.nav-link:hover::after{
    width: 80%;
    transition: width 0.3s;
}

.nav-link:hover{
    color:#1E3062!important;
    /* border-bottom: 1px solid #fff; */
    transition: 0.5s;
}

/* ////////////////////// */
nav.sticky {
    background-color: #fff!important;
    transition: 0.5s!important;
    z-index: 1111;
    opacity: 1!important;
    padding: 0px 15px!important;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
nav.sticky .navbar-brand img{
width: 100%;
height: 50px;
    transition: 0.5s!important;

}

nav.sticky .nav-link{
    color: #0C2E60!important;
        transition: 0.5s!important;

}

nav.sticky .nav-link::after,
nav.sticky .activelink::after{
   
    background-color: #0C2E60;

}
/* //////////////////////*/
.welcomediv{
    color: white;
    margin-top: 250px;
}
.welcomediv s{
    font-size: 12px;
    color: #6E6993;
}
.welcomediv h1{
    font-size: 55px;
    color:#0C2E60!important;
}
.welcomediv p{
    font-size: 15px;
    color:#6E6993 ;
}

.fa-apple,
.fa-google-play{
    font-size: 25px;
}
.phone-img{
    margin-top: -15px;
}

/* //////////////////////////////////////////// */
/* /////////////////////////////////////////// */
/* //////////////////////////////////////////// */
/* /////////////////////////////////////////// */
#quickly-info{
    width: 100%;
    height: auto;
    position: relative;
    top: 50px;
    }
    .info-carry{
        background-color: #fff;
        /* box-shadow: 0px 0px 6px 0px rgba(0,0,0,1);    */
    }
    .quick_info {
        width: 100%;
        height: auto;
        padding: 20px 15px;
        transition: all 0.8s ease-in-out;
        padding: 0px;
        margin: 0px;    
    }
    
    .quick_info h2{
        color: #1E3062;
        font-family: 'Special Elite', cursive;
    }

    .quick_info p{
        color: #b6b6b6;
    }

    /* .quick_info:hover {
        background-color: #FF0000!important;
        box-shadow: 0px 12px 14px 0px rgba(179,168,168,1);
    } */
    .quick_info:hover i,.quick_service:hover h5 {
       color: #ffff!important;
    }
    /* //////////////////////////////////////////// */
    /* /////////////////////////////////////////// */
    /* //////////////////////////////////////////// */
    /* /////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */
.About{
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 80px!important;
    

}


.left-about img{ 
    width: 70%;
    height: 106%;
    margin-left: 100px;
    
}

.about-s{
font-size: 14px;
color: #0C2E60;
margin-top: 150px!important;
margin-left: 60px;
}

.about-s:before{
    content: "";
    position: absolute;
    display: block;
    width: 55px;
    height: 2px;
    top: 15px;
    left: 15px;
    background-color: #1E3062;
    transition: width 0.3s;

}
.about-info-text {
    position: relative;
    margin-top: 80px!important;
}

.about-info-text h1{
    font-size: 45px;
    color: #0C2E60;
}

.about-info-text p{
     width: 100%;
    font-size: 14px;
    color: #666666;
    line-height: 25px;
    font-weight: 400;
}
/* /////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */

.feature{
    width: 100%;
    height: 600px;
    position: relative;
    margin-top: 80px!important;
    background: url(../images/ph/feature.webp) no-repeat center bottom ;
    background-size: auto 94%;
    background-color: #5E88FC;
}

.circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    position: relative;
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
}

.features-icon{
    font-size: 19px;
    /* position: absolute;
    top: 14px;
    left: 20px; */
    color: #5E88FC;
}
.feature-p{
font-size: 14px;
color: #fff;
}

.feature-photo{
    width: 75%;
    height: 94%;
    margin-top: 16px;
    margin-left: 35px;
}

/* /////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */
.help{
    width: 100%;
    height: auto;
    position: relative;
    margin-top:180px!important;
}

.help-h1{
font-size: 45px;
color: #0C2E60;
}
.help-p{
    font-size: 14px;
    color: #666666;
    font-weight: 400;
}
.main-help-div .card {
    border: none!important;
}
.help-div:hover{
    transition: all 0.5s ease-out;
    box-shadow: 0px 0px 18px -3px rgba(0,0,0,0.75);
    border: none;
    border-radius: 15px;
}
.icon-inner{
    width: 65px!important;
    height: 65px!important;
    background-color: #F0F4F9;
    border-radius: 50%;
    padding: 20px 8px;
    line-height: 30px;
    margin: 0 auto;
}


.help-icon
{
    font-size: 25px;
}

.help-div h4{
    color: #0C2E60;
    font-size: 20px;
}

.help-div p{
    color: #666666;
    font-size: 13px;
}


/* /////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */

.gallary{
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 80px!important;
    background:url(../images/ph/feature.webp) no-repeat center bottom ;
    background-size: auto 94%;
    background-color: #5E88FC;    
}


.swiper {
    width: 240px;
    height: auto;
  }

  .swiper-slide {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  }
/* /////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */
.faqs{
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 80px!important;
    background-color:#fff;
}
.faqs .card {
    background-color:#fdfdff;
    border-radius: 0px;
    border-left:5px solid #5E88FC ;
}
.rotate-icon,
.faqs-span{
    font-size: 17px;
    color: #1E3062;
    font-weight: normal;
}

.faqs-p{
    font-size: 15px;
    color: #1E3062;

}
/* /////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */
.download{
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 140px!important;
    background: linear-gradient(rgba(27, 112, 197, 0.8 ) , rgba(27, 112, 197, 0.8) ) ,
    url(../images/download.jpg) no-repeat  center ;
    background-size: cover;
}
.download-img img {
    width: 70%;
    height: auto;
    margin-top: 30px;
}

.screeoShot-text-info{
    margin-top: 85px!important;
}
.screeoShot-text-info h1{
font-size: 50px;}
/* /////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */

.testemonials{
    width: 100%;
    height: auto;
    background-size: cover;
    margin-top: 180px;
    padding-bottom: 80px;
}
.introHeader{
    margin-top: 100px!important;
}
.teste-img{
    width: 90px;
    height: 90px;
    border-radius: 50%!important;
    background-size: cover;
    display: block;
    margin-left: calc(50% - 45px);
}
.teste-img img{
    border-radius: 50%!important;
}
.middel-teste-container{background-color: tomato;}
 .teste-text {
    font-size: 18px!important;
    letter-spacing: 3px;
    font-weight: 400;
}
.teste-persons p{color: #000;font-weight: 400!important;}


.circle{
    width: 50px!important;
    height: 50px!important;
    border-radius: 50%;
    margin: 0 auto;
    line-height: 62px;
    
}
.fa-quote-right {
    font-size: 80px;
}

.name{
    color: #5E88FC;
    font-weight: 700;
}
.jobTitle{
    color: #666666;
}
/* /////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */

.how{
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 10px!important;
    background:url(../images/ph/feature.webp) no-repeat center bottom ;
    background-size: auto 94%;
    background-color: #5E88FC;
    margin-bottom: 110px;
 }
 .steps::-webkit-scrollbar {
    width: 4px;
  }
   
  .steps::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(240, 133, 45, 0.3);
  }
   
  .steps::-webkit-scrollbar-thumb {
    background-color: #1E3062!important;
    outline: 1px solid slategrey;
  }

  .steps{
    background-color: #5e88fcd5;
    height: 400px;
    overflow-y: scroll;
  }
/* .back-img {
    position: absolute;
    z-index: 0;
    width: 203px;
    height: 442px;
    left: 79.7%;
    top: -30px;
} */
/* //////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////// */
footer{
    width: 100%;
    height: auto;
    background:url(../images/footer-bg.jpg.webp) no-repeat center ;
    background-size: cover;
    position: relative;

}

.f-text  {
    font-size: 16px;
    color: #fff;
}
.f-text span {
    font-size: 16px!important;
    color: #fff;  
}
.footer-title{
    font-size: 25px;
    color: #0C2E60;
}

.linksDiv span {
font-size: 13px;
    
}
.footerSocialIcon{
font-size: 25px;
color: #fff
}


.footerinput{
    width: 80%;
    height: 50px;
    background-color: transparent;
    padding: 15px;
    outline: none;
    border: 1px solid #fff;

}
.footerinput::placeholder{
    font-size: 15px;
    color: #fff

}
.butn5{
    width: 60px;
    height: 50px; 
    background-color: transparent;
    margin-left: -5px;border-radius:2px ;
    border: 1px solid #fff;
}

.rights{
    background-color: transparent;

}



/* ///////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////// */




/* //////////////////////   responsive   //////////////////// */
/* //////////////////////   responsive   //////////////////// */
/* //////////////////////   responsive   //////////////////// */
/* //////////////////////   responsive   //////////////////// */

@media screen and (max-width: 1199px) {
  
    nav {
       margin-top:  0px !important;;
      }
      .welcomediv{
        color: white;
        margin-top: 250px!important;
    }
     
}


@media screen and (max-width: 991px) {
    .welcomediv{
        color: white;
        margin-top: 150px!important;
    }
    .welcomediv h1{
        font-size: 30px;
    }
    .about-info-text{
        order: 1!important;
    }
    .about-info-text h1{
        font-size: 30px;
    }
    .about-info-text p{
        font-size: 15px;

    }
    .left-about{
        order: 2!important;}
    .left-about img{ 
        
        margin-left: 15%; 
    }
    .feature{
        height: auto;
    }
    .feature-photo-div{
       display: none;
    }
    
    .swiper {
        width: 180px;
        height: auto;
    }

      .download{
        height: auto;
    }

    .help,.faqs{
    margin-top:10px!important;
    }

    .screeoShot-text-div{
        margin-top: -50px!important
    }

    .screeoShot-text-info h1{
        font-size: 30px;
    }

    .screeoShot-text-info {
        width: 100%!important;   
    }
    .screeoShot-text-info p{
        width: 100%!important;   
        font-size: 15px;
    }
    .download-btn{
        margin-top: 10px;
        width: 40%!important; 
        font-size: 14px;
    }
    
  

}

@media screen and (max-width: 767px) {
    .welcomediv {
        margin-top:50px ;
    }
    .nav-btn{
        margin-left: 0;
    }
    .navbar{
        background-color: rgb(255, 255, 255);
    } 
    .navbar .navbar-brand img {
        width: 60px;
        height: 60px;
    }
    .navbar .nav-link{
        color: #1E3062!important;
    }
    .feature-photo{
        display: none;
     }
     
  
}

@media screen and (max-width: 575px) {
    .quick_info{
        width: 33.333%!important;
    }
}

@media screen and (max-width: 362px) {
    
}


